.c11{
    font-size: 58px;
    color: black;
}
.c12{
    background-color:chartreuse ;
    color: #9398ff;
}
.c13{
    border:1px solid #61aeff;width: 80%;height:60px;font-size: 25px;
    text-align: center;line-height:60px;
    font-weight: 900;
}
